<div id="demo-inf">
    
    <div id="demo-layout">
        <div id="header" class="t017__title t-title t-title_xxs">Принцип работы</div>
        <div id="desc" class="t-section__descr t-descr t-descr_xl t-margin_auto">На примере категории "одежда":<br> Введите артикул товара на Wildberries</div>
        <input type="text" name="art" id="art"/>
        <button id="demo-test" name="go" class="t-btn" >Подобрать шаблон</button>
   </div>
    
    <div id="demo-result">
        <div id="template"></div>
        <div id="photo-from-wb"></div>
        <div id="error-msg" class="t-section__descr t-descr t-descr_xl t-margin_auto">Фото не найдено!<br>Впишите в поле реальный артикул</div>
    </div>
</div>

<style>
    #rec342584010{
        display:none;
        
    }
    #demo-result{
        display: none;
        position: relative;
        margin-top:15px;
        width: 450px;
        height: 600px;
        margin: 0 auto;
    }
        #demo-layout{
            max-width: 755px;
            margin: 0 auto;
            text-align: center;
        }
        #desc{
            margin:15px 0;
        }
        #error-msg{
            margin: 20px 0;
            color: rgb(173, 21, 21);
            text-align: center;
        }
    
    
    #photo-from-wb,
    #template{
        
        position: relative;
        background-size: cover !important;
        width: 100%;
        height: 600px;
    }
        #template{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
           
        }
        
        #demo-test{
            color:#ffffff;background-color:#40a0ff;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
        }
        
        #art{
            width: 175px;
            height: 48px;
            line-height: 50px;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 25px;
            border: 1px solid #40a0ff;
            vertical-align: middle;
            text-align: center;
        }
</style>

<script>
    // if(window.location.href.indexOf('demo')!=-1)
    //     $('#demo-inf').css({
    //         display: 'block'
    //     })
        
        
    var templates=[
        'frame16.png',
        'frame18.png',
        'frame19.png',
        'frame20.png'
    ];
        
    $('#demo-test').click(function(){
        
        
        var articul=$('#art').val(),
            art1part=articul.substr(0,4),
            iRand=Math.floor(Math.random() * templates.length),
            $button=$(this);
            
        console.log(templates[iRand])
        
        
        
        $.ajax({
            url: 'https://images.wbstatic.net/big/new/'+art1part+'0000/'+articul+'-1.jpg',
            success: function(resp){
                console.log('yes')
                $('#error-msg').css({
                    display: 'none'
                })
                $('#demo-result').css({
                    display: 'block'
                });
                
                $('#photo-from-wb').css({
                    background: 'url("https://images.wbstatic.net/big/new/'+art1part+'0000/'+articul+'-1.jpg") no-repeat 50% 50%',
                    display: 'block'
                });
                
                
                 $('#template').css({
                    background: 'url("https://files.myguru.ru/site-templates/'+templates[iRand]+'") no-repeat 50% 50%',
                    display: 'block'
                 });
                
                $button.html('Другой шаблон');
                $('input[name=sku]').val(articul).parents('form:first').find('button:first').click();
            },
            error: function(){
                $('#demo-result').css({
                    display: 'block'
                });
                
                $('#error-msg').css({
                    display: 'block'
                })
                
                $('#template').css({
                    display: 'none'
                })
                 $('#photo-from-wb').css({
                     display: 'none'
                })
                
            }
        })
        
       
        return false;
    })
    
</script>
